.kirby-image {
    width: 12rem;
    margin: 2rem;
    border: 6px;
    border-color: crimson;
    border-style: solid;
    border-radius: .25rem;
}
.kirby-image:hover {
    border-color: lightcoral
}